{% extends "base.html" %} {% block content %}
<form method="post" enctype="multipart/form-data" class="col-md-6 mx-auto">
  <div class="mb-3">
    <input
      type="text"
      class="form-control"
      name="url"
      placeholder="Enter URL"
      required
    />
  </div>
  <div class="mb-3">
    <input
      type="file"
      class="form-control"
      name="file"
      accept=".png,.jpg,.jpeg,.bmp"
    />
  </div>
  <button type="submit" class="btn btn-primary">Generate QR Code</button>
</form>
{% endblock %}
